{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Turbo Admin Dashboard</title>
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <link rel="stylesheet" href="{% static 'adminpages/css/style.css' %}">
</head>
<body>

  <!-- Sidebar -->
  <div class="sidebar">
    <h2>Turbo Admin</h2>
    <a href="{% url 'dashboard' %}" class="nav-link"><i class='bx bx-home'></i>Dashboard</a>
    <a href="{% url 'rider' %}" class="nav-link"><i class='bx bx-user'></i>Riders</a>
    <a href="{% url 'booking' %}" class="nav-link"><i class='bx bx-car'></i>Bookings</a>
    <a href="{% url 'payment' %}" class="nav-link"><i class='bx bx-wallet'></i>Payments</a>
    <a href="{% url 'report' %}" class="nav-link"><i class='bx bx-bar-chart'></i>Reports</a>
    <a href="{% url 'settings' %}" class="nav-link"><i class='bx bx-cog'></i>Settings</a>
    <a href="{% url 'dashboard' %}" class="logout-btn"><i class='bx bx-log-out'></i> Logout</a> 
  </div>

  {% block content %}
  {% endblock %}

</body>
</html>

