{% extends 'adminpages/base.html' %}
{% block content %}
  <!-- Main content -->
  <div class="main">
    <div class="header">
      <h1>Dashboard</h1>
      <p> Current Location: Kannur</p>
    </div>

    <div class="stats">
      <div class="card">
        <h3>Total Riders</h3>
        <p>1,024 registered users</p>
      </div>
      <div class="card">
        <h3>Total Bookings</h3>
        <p>3,560 completed rides</p>
      </div>
      <div class="card">
        <h3>Pending Requests</h3>
        <p>8 ride requests pending</p>
      </div>
      <div class="card">
        <h3>Revenue</h3>
        <p>₹2,45,000 earned this month</p>
      </div>
    </div>
  </div>

{% endblock %}