{% extends 'adminpages/base.html' %}
{% block content %}
  <div class="main">
    <div class="header">
      <h1>Registered Riders</h1>
      <p>👥 Total Riders: 1,024</p>
    </div>

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Joined Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Anjali R.</td>
          <td>anjali@example.com</td>
          <td>+91 9876543210</td>
          <td>2024-09-21</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Ravi Kumar</td>
          <td>ravi@example.com</td>
          <td>+91 9123456780</td>
          <td>2024-10-05</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Shweta Nair</td>
          <td>shweta@example.com</td>
          <td>+91 9000011111</td>
          <td>2024-10-12</td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}